{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taskly - Your Ultimate To-Do List App</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body style="background-image: url('{% static 'images/background.jpg.avif' %}'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
    <nav class="navbar">
        <div class="container">
            <div class="logo">
                <h1>Taskly</h1>
            </div>
            <ul class="nav-links">
                <li><a href="#features">Features</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="{% url 'Taskly:login' %}">Sign In</a></li>
                <li><a href="{% url 'Taskly:register' %}">Get Started</a></li>
            </ul>
        </div>
    </nav>
    <header>
        <nav>
            <ul>
                <li><a href="#features">Features</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </nav>
        <h1>Taskly</h1>
        <p>Your Ultimate To-Do List App</p>
        {% if user.is_authenticated %}
            <a href="{% url 'Taskly:homepage' %}" class="btn">Go to Dashboard</a>
        {% else %}
            <a href="{% url 'Taskly:login' %}" class="btn">Sign In</a>
            <a href="{% url 'Taskly:register' %}" class="btn">Get Started</a>
        {% endif %}
    </header>

    <section id="features">
        <div class="feature">
            <img src="{% static 'images/taskslist.png' %}" alt="Task organization">
            <h2>Task Organization</h2>
            <p>Easily organize your tasks and to-do lists with Taskly's intuitive interface.</p>
        </div>
        <div class="feature">
            <img src="{% static 'images/duedates.png' %}" alt="Due Date Customization">
            <h2>Due Date Customization</h2>
            <p>Users have the flexibility to set custom due dates and times for tasks.</p>
        </div>
        <div class="feature">
            <img src="{% static 'images/search.png' %}" alt="Search">
            <h2>Search</h2>
            <p>Robust search functionality so users can quickly find specific tasks or groups of tasks.</p>
        </div>
    </section>

    <section id="about">
        <h2>About Taskly</h2>
        <p>Taskly was inspired by our personal struggles with managing tasks efficiently. As ALX students, we realized the need for a powerful to-do list app that could help us stay organized with our coursework and personal projects.This web application is a testament to how we have honed and improved our skills through the ALX software engineering program.</p>
        <p>This project is a portfolio project for ALX Software Engineering Program. You can learn more about ALX <a href="https://www.alx.com/">here</a>.</p>
        <div class="team-members">
            <div class="member">
                <h3>Joseph Njoroge</h3>
                <ul>
                    <li><a href="https://www.linkedin.com/in/joseph-njoroge-212958225/">LinkedIn</a></li>
                    <li><a href="https://github.com/kimenyu">GitHub</a></li>
                    <li><a href="https://twitter.com/njorogekimenyu">Twitter</a></li>
                </ul>
            </div>
            <div class="member">
                <h3>Teresa Amanwachi</h3>
                <ul>
                    <li><a href="https://www.linkedin.com/in/teresa-omiko-amanwachi-467112206">LinkedIn</a></li>
                    <li><a href="https://github.com/TeeOmyko">GitHub</a></li>
                    <li><a href="https://twitter.com/AdaEhugbo">Twitter</a></li>
                </ul>
            </div>
            <div class="member">
                <h3>Alice Kiptui</h3>
                <ul>
                    <li><a href="https://www.linkedin.com/in/alice-kiptui96/">LinkedIn</a></li>
                    <li><a href="https://github.com/JEPTUI">GitHub</a></li>
                    <li><a href="https://twitter.com/AliceJeptui">Twitter</a></li>
                </ul>
            </div>
        </div>
        <a href="https://github.com/kimenyu/Taskly" class="btn">GitHub Repository</a>
    </section>

    <section id="video">
        <!-- Embed your video here -->
    </section>
</body>
</html>
