{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>Search Results</h1>
    <p>Showing results for "{{ query }}"</p>
    {% if results %}
        <ul class="list-group">
            {% for result in results %}
                <li class="list-group-item">
                    <h2><a href="{% url 'Taskly:task-detail' slug=result.slug %}">{{ result.title }}</a></h2>
                    <p>{{ result.text|truncatewords:30 }}</p>
                    <p class="text-muted">{{ result.updated_at|date:"Y/m/d H:i" }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No results found.</p>
    {% endif %}
</div>
{% endblock %}
